<!DOCTYPE html>
<html>

<head>
    <title>elasticsearch toolbox</title>
    <meta charset="utf-8" />
    <link href="css/materialize.min.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
    <link href="css/codemirror.css" rel="stylesheet" />
    <link href="css/neat.css" rel="stylesheet" />
    <style>
     
    </style>
</head>

<body ng-app="est" style="background-color: #F1F1F1">
    <div ng-controller="MainController">
        <nav class="title-area">
            <div class="nav-wrapper">
                <i class="left material-icon mdi-action-perm-data-setting" style="display:inline-block;margin:0 0 0 10px"></i>
                <a href="#" class="left light" style="padding:0 10px;font-size:1.3rem">{{Title}}</a>
                <ul class="left">
                    <li>
                        <div class="input-field title-button" style="padding:0 5px;font-size:1.3rem">
                            <input id="search" ng-init="es.url='http://localhost:81'" placeholder="elasticsearch url" type="search" ng-model="es.url" style="margin:0">
                            <label for="search"><i class="mdi-editor-insert-link"></i></label>
                            <i class="material-icons mdi-content-send" style="color:#000" ng-click="connectToES(es.url)"></i>
                        </div>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <i class="material-icons title-button mdi-navigation-unfold-less" id="min-window-button"></i>
                    </li>
                    <li>
                        <i class="material-icons title-button mdi-navigation-fullscreen" id="max-window-button"></i>
                    </li>
                    <li>
                        <i class="material-icons title-button mdi-content-clear" id="close-window-button"></i>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="progress hide">
            <div class="indeterminate"></div>
        </div>
        <div>
            <div ng-if="!isConnected">
                <div class="row red lighten-4" style="padding: 10px;">
                    <h3 class="light">Not connected to elasticsearch instance</h3>
                </div>

                <div class="row">
                    <div class="slider">
                        <ul class="slides">
                            <li>
                                <img src="">

                                <div class="caption center-align">
                                    <h3>Welcome</h3>
                                    <h5 class="light grey-text text-lighten-3">Query elasticsearch with ease</h5>
                                </div>
                            </li>

                            <li>

                                <!-- random image -->
                                <div class="caption right-align">
                                    <h3>Get started</h3>
                                    <h5 class="light grey-text text-lighten-3">Add an elasticsearch url above here</h5>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <div class="row blue" ng-show="isConnected" style="padding: 10px;">
                    <a class="btn btn-floating btn-large waves-effect waves-light red" style="margin-top: 16px;right: 50px;    position: absolute;" ng-click="execute(es)">
                        <i class="mdi-av-play-arrow"></i>
                      </a>                  
                    <div class="col s3">
                        <select style="height:35px" class="browser-default" ng-model="es.selectedIndex" ng-change="change(es)" ng-options="o as o for o in indexes">
                            <option selected>FOUND INDICES</option>
                        </select>
                    </div>
                    <div class="col s9">
                        <!--  <h4 class="light"> {{indexInfo.total.docs.count|number}} documents in this index</h4> -->
                    </div>
                </div>
               
                </div>
               
                <div class="row" ng-show="isConnected">
                    <div class="col s12">
                        <ul class="collapsible popout" data-collapsible="accordion">

                            <li>

                                <div class="collapsible-header"><i class="mdi mdi-gradient"></i>Query</div>

                                <div class="collapsible-body" style="max-height: 600px;overflow: auto;">
                                    <textarea id="queryEditor" ng-model="es.query"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="mdi mdi-search"></i>Output</div>
                                <div class="collapsible-body" style="max-height: 600px;overflow: auto;">
                                    <textarea id="resultEditor"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/cm/codemirror.js"></script>
    <script src="js/cm/matchbrackets.js"></script>
    <script src="js/cm/foldgutter.js"></script>
    <script src="js/cm/foldcode.js"></script>
    <script src="js/cm/javascript.js"></script>
    <script src="js/cm/continuecomment.js"></script>
    <script src="js/cm/comment.js"></script>
    <script src="js/custom/Plugin.js"></script>
    <script src="js/custom/ESService.js"></script>
    <script src="js/custom/MainController.js"></script>
</body>

</html>
