    .light {
        font-weight: 300
    }
     .title-area {
        -webkit-app-region: drag;
        cursor:move;
      }
      .title-button {
        cursor:pointer;
        -webkit-app-region: no-drag;
      }
       #nav-mobile i.title-button{
              padding: 0 14px;
       }
    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
    body{
            font-size: 14px;
    }
    .hide {
        display: none;
    }
    
    .btn-floating.btn-large i {
        line-height: 56.5px;
    }
    
    .btn-large i {
        font-size: 2rem;
    }
    
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
